# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Checkout Media3
        uses: actions/checkout@v4
        with:
          repository: androidx/media
          ref: release
          path: media

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
  
      # - name: Set up Gradle
      #   uses: gradle/gradle-build-action@v2
      
   
      # Set up NDK
      - uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r28c
          local-cache: false
          add-to-path: true
      # Build 
      - name: Build
        continue-on-error: false
        env:
          ANDROID_NDK_HOME: ${{steps.setup-ndk.outputs.ndk-path }}
          NDK_PATH: ${{ steps.setup-ndk.outputs.ndk-path }}
          ROOT_DIR:  ${{ github.workspace }}
        run: |
         echo "build ffmpeg"
         source ${{ github.workspace }}/.github/scripts/build.sh
         
         echo "Build Success"
        



      # Runs a set of commands using the runners shell
      - name: Upload FFmpeg Static Libs
        continue-on-error: true
        uses: actions/upload-artifact@v4
        with:
          name: "ffmpeg"
          path: ${{ github.workspace }}/media/libraries/decoder_ffmpeg/src/main/jni/ffmpeg/android-libs

      - name: Upload library
        continue-on-error: true
        uses: actions/upload-artifact@v4
        with:
          name: aar-library
          path: repo


      - name: Push
        uses: ad-m/github-push-action@master
        with:
          force: true
          tags: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: 'repo'

        

       
